.cardProduct {
    width: 14rem;
    position: relative
}

.imageProduct {
    height: 170px;
}

.cardTitle  {
    font-size: 18px !important;
}
.price {
    font-size: 13.5px;
}

@media (max-width: 768px){
    .imageProduct {
        height: 150px;
    }
    .cardProduct {
        width: 9.5rem;
    }
    .price {
        font-size: 11.5px;
    }
    .cardTitle  {
        font-size: 14px !important;
    }

}